<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Verify your email address</h1>
    <p>To verify your email address, please click on the link below.</p>

    <a href="<%= Rails.configuration.bip_ui_url%>/register/confirm?token=<%= @user.confirmation_token %>">Verify your email</a>
  </body>
</html>